//
// VARIABLES
//
// Colors
@import "variables-mi-colors";
$family-primary: "PT Sans";
$primary: $mi-pink;
$info: $hero-color;
$success: $mi-gruen;
$warning: $mi-grau;
$bfs: 1rem;
$size-normal: $bfs;
$radius: 0;
$size-1: $bfs *1.4;
$size-2: $bfs *1.2;
$size-3: $bfs;
$size-4: $bfs;
$dotted-line: dotted 1px #000;
$modal-card-head-background-color: #000;
$modal-card-body-background-color: #000;
//$modal-content-width: 80vw;
